<h1>{{ model.name }}</h1>

<ul class="books list-group">
  {{#if (not fetchBooks.isIdle)}}
    Loading books...
  {{else}}
    {{#each model.books as |book|}}
      <li class="list-group-item">{{ book.isbn }}: {{ book.title }}</li>
    {{/each}}
  {{/if}}

</ul>

{{#link-to "authors"}}
  Back
{{/link-to}}

{{outlet}}