<ul class="authors">
  {{#each model as |author|}}
    <li>
      {{#link-to "authors.author" author.id}}
        {{author.id}}: {{author.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}